@model BookManager.Models.Book

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3 class="card-title mb-0">Book Details</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4 font-weight-bold">Title:</div>
                        <div class="col-sm-8">@Model.Title</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 font-weight-bold">Author:</div>
                        <div class="col-sm-8">@Model.Author</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 font-weight-bold">Pages:</div>
                        <div class="col-sm-8">@Model.Pages</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 font-weight-bold">Published Date:</div>
                        <div class="col-sm-8">@Model.PublishedDate.ToShortDateString()</div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-primary"><i class="fas fa-edit mr-1"></i>Edit</a>
                    <a href="@Url.Action("Index")" class="btn btn-secondary"><i class="fas fa-arrow-left mr-1"></i>Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>