@model IEnumerable<BookManager.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Book Library</h1>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="text-right">
                <a class="btn btn-primary" asp-action="Create"><i class="fas fa-plus"></i> Add New Book</a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Pages</th>
                    <th>Published Date</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Title)</td>
                        <td>@Html.DisplayFor(modelItem => item.Author)</td>
                        <td>@Html.DisplayFor(modelItem => item.Pages)</td>
                        <td>@Html.DisplayFor(modelItem => item.PublishedDate)</td>
                        <td class="text-center">
                            <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i> Details</a>
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i> Edit</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i> Delete</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>